@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Enciclopédia BEN 10</h1>
    <br>
    <p> Site feito para os fans do desenho Ben 10, contendo todas as informações sobre os episódios e omnitrix</p>
    <img src= https://m.media-amazon.com/images/M/MV5BZjg2ZjViMTktNWQ1Yy00ODZiLWE1OTgtNDY3MjI0OGUyNjNhXkEyXkFqcGdeQXVyNTk4NDI4NTE@._V1_FMjpg_UX1000_.jpg/>
   

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
