html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#ache{
    background-color :#FF00FF;
}
.Botao {
    background-color: #6495ED;
}
.Email {
    background-color: #6495ED;
}
}