@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<form asp-action="">*@

@*</form>*@
<h1>Criar conta</h1>
<p> Email:</p>
<input type="text" class="Email" placeholder="Insira seu e-mail" /> 
<br /> 
<br />
<p>Senha:</p>
<input type="password" class="Senha" placeholder="Insira a senha" />
<br />
<br />
<a href="https://drive.google.com/file/d/1h7UppmL8o0EiustLV9JtSbSmRr2iS8Eb/view?usp=drivesdk" class=" Botao btn btn-primary"> Confirmar</a>

<script>

</script>
