@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="Titulo A Pequena ">A Pequena Sereia</h1>
    <p> Não tem conta? <a href="@Url.Action("Index", "TestePagina")">Clique aqui para criar uma conta</a>.</p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<img src=" https://br.web.img2.acsta.net/pictures/17/07/10/17/01/183081.jpg" />
@*<button type="submit">Clique aqui para assistir</button>*@
@*<a href="https://drive.google.com/file/d/1h7UppmL8o0EiustLV9JtSbSmRr2iS8Eb/view?usp=drivesdk">*@
  @*<button class="A pequena sereia botao"> Clique aqui para assistir</button> *@


@*</a>*@
@*<button class="A pequena sereia botao"> *@
    @*<a href="https://drive.google.com/file/d/1h7UppmL8o0EiustLV9JtSbSmRr2iS8Eb/view?usp=drivesdk">Clique aqui para assistir</a>*@
@*</button>*@
<a class="btn btn-primary" href="https://drive.google.com/file/d/1h7UppmL8o0EiustLV9JtSbSmRr2iS8Eb/view?usp=drivesdk">Clique aqui para assistir</a>
